@import '../../colors';

.Trilogy {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 30px 90px 90px 90px;
  width: 100%;

  .trilogy__title {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 15px 0;
    text-align: center;
    padding-bottom: 45px;
    width: 100%;
  }
}

.App__light-side {
  .Trilogy {
    background-color: $light-color__secondary;

    .trilogy__title {
      color: $light-color__primary;
    }

  }
}

.App__dark-side {
  .Trilogy {
    background-color: $dark-color__secondary;

    .trilogy__title {
      color: $dark-color__primary;
    }
  }
}