$color-dark: #4d4646;
$color-light: #faf5f5;

.Trilogy {
  
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0px 30px 30px 30px;
  width: 80%;

  .trilogy__title {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 15px 0;
    text-align: center;
    width: 100%;
  }
}

.App__light-side {
  .Trilogy {
    background-color: $color-light;

    .trilogy__title {
      color: $color-dark;
    }

  }
}

.App__dark-side {
  .Trilogy {
    background-color: $color-dark;

    .trilogy__title {
      color: $color-light;
    }
  }
}