@import '../../colors';

.Navigation {
  box-sizing: border-box;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding-bottom: 30px;
  width: 80%;

  @media screen and (min-width: 768px) {
    flex-flow: row wrap;
  }

  .button {
    box-sizing: border-box;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 600;
    display: inline-block;
    padding: 15px 15px;
    text-align: center;
    transition: color .12s ease-in-out;
  }

  .choose-your-side {
    border-bottom: 1px solid;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;

    @media screen and (min-width: 768px) {
      border-bottom: 0;
      border-right: 1px solid;
      margin-right: 30px;
      padding-right: 30px;
    }
  }

  .choose-your-side__title {
    font-size: 1.1rem;
    font-weight: 600;
    box-sizing: border-box;
    padding: 15px 45px 15px 15px;
    position: relative;
    text-align: center;
    transition: color .12s ease-in-out;
    width: 100%;

    &::after {
      background-color: transparent;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 60% 60%;
      content: '';
      display: inline-block;
      height: 28px;
      margin-left: 15px;
      top: 15px;
      position: absolute;
      right: 10px;
      transition: background-image .12s ease-in-out;
      width: 28px;
    }
  }

  .choose-your-side__options {
    top: 0px;
    left: 0px;
    height: 0px;
    padding-bottom: 15px;
    position: relative;
    text-align: center;
    transition: height .12s ease-in-out;
    overflow: hidden;
    width: 100%;

    @media screen and (min-width: 768px) {
      text-align: left;
      top: 53px;
      position: absolute;
      width: calc(100% - 30px);
    }

    > div.side__dark,
    > div.side__light {
      font-size: 1.1rem;
      font-weight: 600;
      left: 0;
      padding: 15px;
      transition: color .12s ease-in-out;
    }

    &.active {
      display: inline-block;
      height: 100px;
    }
  }
}


/* Light side */
.App__light-side .Navigation {
  .button {
    background-color: $light-color__primary;
    color: $light-color__secondary;

    &:hover,
    &.active {
      color: $light-color__spotlight;
    }
  }

  .choose-your-side {
    border-right-color: $light-color__secondary;
    border-bottom-color: $light-color__secondary;
  }

  .choose-your-side__title {
    background-color: $light-color__primary;
    color: $light-color__secondary;

    &::after {
      background-image: url('../../Images/light-arrow.svg');
    }

    &:hover {
      color: $light-color__spotlight;

      &::after {
        background-image: url('../../Images/light-arrow-spotlight.svg');
      }
    }
  }

  .choose-your-side__options {
    > div.side__dark,
    > div.side__light {
      background-color: $light-color__primary;
      color: $light-color__secondary;

      &:hover,
      &.active {
        color: $light-color__spotlight;
      }
    }
  }
}


/* Dark side */
.App__dark-side .Navigation {
  .button {
    background-color: $dark-color__primary;
    color: $dark-color__secondary;

    &:hover,
    &.active {
      color: $dark-color__spotlight;
    }
  }

  .choose-your-side {
    border-right-color: $dark-color__secondary;
    border-bottom-color: $dark-color__secondary;
  }

  .choose-your-side__title {
    background-color: $dark-color__primary;
    color: $dark-color__secondary;

    &::after {
      background-image: url('../../Images/dark-arrow.svg');
    }

    &:hover {
      color: $dark-color__spotlight;

      &::after {
        background-image: url('../../Images/dark-arrow-spotlight.svg');
      }
    }
  }

  .choose-your-side__options {
    > div.side__dark,
    > div.side__light {
      background-color: $dark-color__primary;
      color: $light-color__secondary;

      &:hover,
      &.active {
        color: $dark-color__spotlight;
      }
    }
  }
}