@import '../../colors';

.Navigation {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-bottom: 30px;
  width: 80%;

  .button {
    box-sizing: border-box;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 600;
    display: inline-block;
    padding: 15px 15px;
    text-align: center;
  }

  .choose-your-side {
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
  }

  .choose-your-side__title {
    font-size: 1.1rem;
    font-weight: 600;
    box-sizing: border-box;
    padding: 15px 15px;
    text-align: center;
    width: 100%;
  }

  .choose-your-side__options {
    top: 53px;
    display: none;
    left: 0px;
    position: absolute;
    text-align: center;
    width: 100%;

    > div.side__dark,
    > div.side__light {
      font-size: 1.1rem;
      font-weight: 600;
      left: 0;
      padding: 15px;
    }

    &.active {
      display: inline-block;
    }
  }
}

.App__light-side .Navigation {
  .button {
    background-color: $light-color__primary;
    color: $light-color__secondary;

    &:hover,
    &.active {
      color: $light-color__spotlight;
    }
  }

  .choose-your-side__title {
    background-color: $light-color__primary;
    color: $light-color__secondary;

    &:hover {
      color: $light-color__spotlight;
    }
  }

  .choose-your-side__options {
    > div.side__dark,
    > div.side__light {
      background-color: $light-color__primary;
      color: $light-color__secondary;

      &:hover,
      &.active {
        color: $light-color__spotlight;
      }
    }
  }
}

.App__dark-side .Navigation {
  .button {
    background-color: $dark-color__primary;
    color: $dark-color__secondary;

    &:hover,
    &.active {
      color: $dark-color__spotlight;
    }
  }

  .choose-your-side__title {
    background-color: $dark-color__primary;
    color: $dark-color__secondary;

    &:hover {
      color: $dark-color__spotlight;
    }
  }

  .choose-your-side__options {
    > div.side__dark,
    > div.side__light {
      background-color: $dark-color__primary;
      color: $light-color__secondary;

      &:hover,
      &.active {
        color: $dark-color__spotlight;
      }
    }
  }
}