@import '../../colors';

.Movie {
  box-sizing: border-box;
  text-align: center;
  width: 31%;

  .movie__title {
    font-size: .9rem;
    font-weight: 600;
  }

  .movie__year {
    font-size: .8rem;
    margin-bottom: 30px;
  }

  .movie__poster {
    width: 100%;

    img {
      max-width: 60%;
      height: auto6
    }
  }

  .movie__poster {
    margin-top: 15px;
  }
}

.App__light-side .movie__title,
.App__light-side .movie__year {
  color: $light-color__primary;
}

.App__dark-side .movie__title,
.App__dark-side .movie__year {
  color: $dark-color__primary;
}