@import '../../colors';

.Movie {
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 60px;
  width: 90%;

  @media screen and (min-width: 768px) {
    width: 31%;
  }

  .movie__title {
    font-size: .9rem;
    font-weight: 600;
  }

  .movie__year {
    font-size: .8rem;
    margin-bottom: 30px;
  }

  .movie__poster {
    width: 100%;

    img {
      max-width: 100%;
      height: auto;

      @media screen and (min-width: 768px) {
        max-width: 60%;
      }
    }
  }

  .movie__poster {
    margin-top: 15px;
  }

  .movie__trailer {
    display: inline-block;
    border-radius: 2px;
    font-weight: 600;
    margin-top: 15px;
    padding: 8px 16px;
    text-decoration: none;
    transition: all .12s ease-in-out;
  }
}


/* Light side */
.App__light-side .movie__title,
.App__light-side .movie__year {
  color: $light-color__primary;
}
.App__light-side .movie__trailer {
  background-color: $light-color__primary;
  color: $light-color__secondary;

  &:hover {
    background-color: $light-color__spotlight;
    color: $light-color__primary;
  }
}


/* Dark side */
.App__dark-side .movie__title,
.App__dark-side .movie__year {
  color: $dark-color__primary;
}

.App__dark-side .movie__trailer {
  background-color: $dark-color__primary;
  color: $dark-color__secondary;

  &:hover {
    background-color: $dark-color__spotlight;
  }
}