@import './colors';

.App {
  align-items: center;
  background-color: $light-color__secondary;
  display: flex;
  flex-flow: column nowrap;
}

.App__title {
  font-size: 2rem;
  font-weight: 600;
  padding: 60px 0;
  text-align: center;
  width: 80%;
}

.App__light-side {
  &.App {
    background-color: $light-color__primary;
    background-repeat: no-repeat;
    background-position: 105% 10%;

    @media screen and (min-width: 768px) {
      background-image: url('./Images/light.svg');
    }

    @media screen and (min-width: 1200px) {
      background-image: url('./Images/light.svg');
      background-position: 90% 10%;
    }
  }

  .App__title {
    color: $light-color__secondary;
  }
}

.App__dark-side {
  &.App {
    background-color: $dark-color__primary;
    
    background-repeat: no-repeat;
    background-position: 120% top ;

    @media screen and (min-width: 768px) {
      background-image: url('./Images/dark.svg');
      background-position: 95% 10%;
    }
  }

  .App__title {
    color: $dark-color__secondary;
  }
}